/* Estilização base para toda a página - centraliza o conteúdo e define a fonte */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* Container principal que contém todos os elementos do formulário de login */
.container {
    width: 320px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilização para os campos de entrada (email e senha) */
.input-field {
    width: 288px;
    height: 50px;
    background: #FCF7ED;
    border-radius: 30px;
    border: 2px #EE3480 solid;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    outline: none;
}

/* Estilização para o botão de login */
.login-btn {
    width: 118px;
    height: 42px;
    background: #EE3480;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 600;
    cursor: pointer;
}

/* Estilização para o link "esqueci minha senha" */
.forgot-password {
    color: #C81363;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    cursor: pointer;
}

/* Container para o logo no topo da página */
.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
}

/* Estilização para a imagem do logo */
.logo {
    max-width: 288px;
    height: auto;
    object-fit: contain;
}

/* Estilização comum para os containers dos campos do formulário (email e senha) */
.form-field {
    margin-bottom: 20px;
    width: 288px;
    display: flex;
    justify-content: center;
}

/* Posicionamento para o campo de entrada de email */
.email-field {
    position: absolute;
    top: 226px;
}

/* Posicionamento para o campo de entrada de senha */
.password-field {
    position: absolute;
    top: 300px;
}

/* Container para o link "esqueci minha senha" com posicionamento */
.forgot-container {
    position: absolute;
    top: 358px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
}

/* Container para o botão de login com posicionamento */
.button-container {
    position: absolute;
    top: 390px;
    display: flex;
    justify-content: center;
    width: 100%;
}